name: py-stack-linter (shared)

on:
  workflow_call:
    inputs:
      python-version:
        type: string
        default: "3.11"
      ruff-version:
        type: string
        default: "latest"
      run-structure-lint:
        type: boolean
        default: true
      run-dockerfile-lint:
        type: boolean
        default: true
      dockerfile-glob:
        type: string
        default: "**/Dockerfile"
      trusted-registries:
        type: string
        default: ""
        description: "Comma-separated list of extra trusted registries for hadolint"


permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout caller repo
        uses: actions/checkout@v4

      - name: Run py-stack-linter
        uses: ross412/py-stack-linter@main
        with:
          python-version: ${{ inputs.python-version }}
          ruff-version: ${{ inputs.ruff-version }}
          run-structure-lint: ${{ inputs.run-structure-lint }}
          run-dockerfile-lint: ${{ inputs.run-dockerfile-lint }}
          dockerfile-glob: ${{ inputs.dockerfile-glob }}
          trusted-registries: ${{ inputs.trusted-registries }}
